/* PaymentPage.css */

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .payment-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row .form-group {
    width: 48%;
  }
  
  .payment-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .payment-button:hover {
    background-color: #0056b3;
  }
  /* Payment.css */

.payment-container {
  display: flex;
  flex-direction: row; /* Ensure they are displayed in a row */
  justify-content: space-between; /* This separates the two columns */
}

.payment-details,
.purchase-summary {
  flex: 1; /* This allows both sections to grow and occupy available space */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
